.idea
*.iml
*~
*-init.clj
*.log
Thumbs.db
run/package.json
run/node_modules/
run/js/compiled/
resources/public/js/compiled
test-page/js
target/
out/
scripts/
pom.xml
pom.xml.asc
*jar
.nrepl-port
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.lein-git-deps/
checkouts
atom-shell
NULL
