.idea
*.iml
*~
Thumbs.db
run/node_modules/
run/js/compiled/
target/
out/
pom.xml
pom.xml.asc
*jar
.nrepl-port
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.lein-git-deps/
checkouts
atom-shell
NULL
